body{
  background-color:#F4FCD9
}
h1{
  color:#00AFC1
}
h2{
  color:#00AFC1
}
h3{
  color:#00AFC1
}



  hr{

    border-style: none;
    border-top-style: dotted;
    border-bottom-color: grey;
    border-width: 5px;
    width: 5%;
  }
