body{
  background-color:#F4FCD9
}
h1{
  color:#00AFC1
}
h2{
  color:#00AFC1
}
h3{
  color:#00AFC1
}



  hr{
    background-color: white;
    border-style: none;
    color: white;
  }
